@use "sass:color";

// Special
$background: #0A0A0F;
$background-lighter: color.adjust($background, $lightness: 5%);
$foreground: #BFDDC9;
$cursor: #BFDDC9;

// Colors
$color0: #0A0A0F;
$color1: #604E3F;
$color2: #335766;
$color3: #396057;
$color4: #5F5F32;
$color5: #6A6A6A;
$color6: #36774C;
$color7: #9BC6AA;
$color8: #6C8A77;
$color9: #806955;
$color10: #447588;
$color11: #4C8174;
$color12: #7F7F43;
$color13: #8E8E8E;
$color14: #499F66;
$color15: #7C9E88;

// Others
$red: #e06c75;
$green: #98c379;
$yellow: #e5c07b;
$crystal-blue: #61afef;
$purple: #c768dd;
$neptune: #56b6c2;
$gray: #abb2bf;
